<template>
  <div class="flex items-left ">
    <a :href="linkedInUrl" v-if="linkedInUrl"><img src="../assets/Linkedin.svg" /></a>
    <a :href="twitterUrl" v-if="twitterUrl" class="pl-2"><img src="../assets/Twitter.svg" /></a>
  </div>
</template>

<script>
export default {
  name: 'Icons',
  props: {
    linkedInUrl: undefined,
    twitterUrl: undefined
  }
}


</script>


