<template>

    <div class="people-container" v-if="peopleList">
        <div class="title-div title-border">
            <p class="title-text">Meet our Friends</p>
            <img src="../assets/Small-G.svg" alt="" style="margin-left: auto;">
        </div>
        <div class="flex flex-wrap flex-row justify-between pt-2 md:pt-4 overflow-hidden">

            <PersonInList v-for="p in peopleList" :person="p" :key="p.id"></PersonInList>

        </div>
    </div>


</template>

<script>

import { list } from '../services/peopleServices.js';
import PersonInList from './PersonInList.vue';

export default {
    name: 'Index',
    components: {
        PersonInList
    },
    data() {
        return {
            peopleList: undefined
        }

    },
    created() {
        this.getLists();

    },


    methods: {
        getLists() {
            list().then(result => {
                console.log("read peopleList:" + JSON.stringify(result))
                this.peopleList = result;

            }).catch((error) => {
                console.error(error);
            });
        }

    }
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    ;
    background: linear-gradient(269.97deg, #F6F4EF -0.74%, #E0DBD0 99.98%);
    align-content: center;
    overflow: auto;
}

.gradientBeige {
    background: linear-gradient(269.97deg, #F6F4EF -0.74%, #E0DBD0 99.98%);
}

.listContainer {

    /*background-image: url('./assets/Big-G.svg'), linear-gradient(269.97deg, #F6F4EF -0.74%, #E0DBD0 99.98%);
    background-repeat: no-repeat;
    background-size: cover 70%, cover;
    background-position: right bottom, center center;
    position: relative;
    margin-top: 0px;
    padding-top: 93px;
    padding-right: 130px;
    padding-left: 130px;*/
    height: 100%;
}
</style>
