<template>
  <div class="people-container" v-if="person">
    <div class="title-div title-border  border-b-0 md:border-b flex flex-col md:flex-row">
      <div class="title-text title-border  border-b md:border-0" style="flex-basis: 30%;">{{ person.name }}</div>
      <div class="flex flex-nowrap flex-col md:flex-row" style="flex-basis: 70%;">
        <div class="flex-1 role pt-1 md:pt-0 mt-auto pb-1">{{ person.role }}</div>
        <button class="button mt-4 md:mt-auto pb-1" v-if="person.requestable" @click="friendRequest">Send
          Request</button>
      </div>
    </div>

    <div class="flex flex-col md:flex-row mt-5 md:mt-9">
      <div style="flex-basis: 30%;">
        <img :src="person.largeImg" class="personImg object-cover mt-5 md:mt-0">
      </div>

      <div class="flex-col flex-1" style="position:relative">
        <div class="quote pt-11 md:pt-0 flex flex-row md:flex-none">
          <img src="../assets/Quote-1.svg" class="Quote-1">
          <div class="flex flex-row">
            <span>{{ person.quote }}</span>
            <img src="../assets/Quote-2.svg" class="Quote-2">
          </div>
        </div>

        <div class="bio mt-8 md:mt-14">
          {{ person.bio }}
        </div>
      </div>
    </div>


  </div>

</template>

<script>

import { friendRequest, personDetail } from '../services/peopleServices.js';

export default {
  name: 'Person',
  props: {
    id: String
  },
  data() {
    return {
      person: undefined
    }
  },
  created() {
    personDetail(this.$route.params.id).then(result => {
      this.person = result;
    }).catch((error) => {
      console.error(error);
    });


  },
  methods: {
    friendRequest() {
      friendRequest("Mario Buonopane", this.person.id)
        .then(result => { }).catch((error) => {
          console.error(error);
        });
    },

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.role {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -0.02em;

  color: #828282;
}

.button {
  box-sizing: border-box;

  width: 121px;
  height: 37px;


  background: #8DCC7B;
  border: 1px solid #000000;
  border-radius: 32px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
}

.personImg {
  height: 390px;
  width: 304px;

  border-radius: 5.829959869384766px;

}

.Quote-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: -30px;
  margin-top: -5px;
}

.Quote-2 {
  margin-top: auto;
  margin-left: 5px;
}

.quote {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 19.6809px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000000;
  width: 700px;

}

.bio {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #000000;

}

@media screen and (max-width: 768px) {
  .personImg {
    height: 462px;
    width: 100%;

    border-radius: 5.829959869384766px;
    flex-basis: 30%;
  }

  .quote {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 19.6809px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #000000;
    width: 100%;
  }

  .Quote-1 {
    position: static;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: auto;
    padding-right: 10px;
  }

}
</style>
