<template>
  <router-link :to="routerLinkTo"
    class="flex justify-between flex-sm md:flex-md pt-10 md:pt-12 pb-10 md:pb-12 border-b-05 border-b-solid border-black/50 mb-minus-1px"
    v-if="show">
    <div class="flex justify-between flex-col md:flex-row w-full">
      <div class=" flex-none h-117 md:h-60 w-full md:w-1/2 ">

        <div
          class="object-cover w-full h-full filter drop-shadow-my-sm md:drop-shadow-my-md rounded-my-sm md:rounded-my-md">
          <img :src="person.largeImg" alt=""
            class="object-cover w-full h-full filter drop-shadow-my-sm md:drop-shadow-my-md rounded-my-sm md:rounded-my-md">
          <img src="../assets/Yes.svg" alt="" class="yesNo" v-if="person.requestable">
          <img src="../assets/No.svg" alt="" class="yesNo" v-else>
        </div>
      </div>
      <div class="flex flex-col justify-between leading-normal md:pl-4 ">
        <div class="mb-8 pt-5 md:pt-0 ">
          <div class="name flex md:inline justify-between">
            <span>{{ person.name }}</span>
            <span class="inline md:hidden">
              <Icons :linkedInUrl="person.linkedInUrl" :twitterUrl="person.twitterUrl"></Icons>
            </span>

          </div>
          <p class="role pt-1">
            {{ person.role }}
          </p>

          <p class="quote pt-2">{{ person.quote }}</p>
        </div>
        <span class="hidden md:inline">
          <Icons :linkedInUrl="person.linkedInUrl" :twitterUrl="person.twitterUrl"></Icons>
        </span>

      </div>

    </div>
  </router-link>

</template>

<script>

import Icons from "./Icons.vue";

export default {
  name: 'PersonInList',
  props: {
    person: undefined
  },
  components: {
    Icons
  },
  data() {
    return {
      show: false
    }
  },
  computed: {

  },
  mounted() {
    this.show = this.person;

    this.routerLinkTo = {
      name: "person",
      params: {
        id: this.person.id
      }
    }
    console.log ("routerLinkTo: "+ JSON.stringify(this.routerLinkTo));
   }
}


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.quote {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #000000;
}

.name {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;

  color: #000000;
}



.yesNo {
  position: absolute;
  left: 1.84%;
  right: 91.84%;
  top: 2.87%;
  bottom: 87.3%;
}

@media (min-width: 640px) {
  .yesNo {
    position: absolute;
    left: 2.5%;
    right: 91.94%;
    top: 2.03%;
    bottom: 93.68%;
  }
}

@media (min-width: 768px) {
  .yesNo {
    position: absolute;
    left: 1.84%;
    right: 91.84%;
    top: 2.87%;
    bottom: 87.3%;
  }
}

.role {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
  
    color: #828282;
  }
</style>
