@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .people-container {
      @apply bg-BigG bg-no-repeat bg-center md:bg-right-bottom  h-full content-center max-w-sm md:max-w-1180 m-auto;
    }
    .title-div{
        @apply flex md:pb-1 pt-20 md:pt-24;
    }
    .title-border{
        @apply border-solid border-black;
    }
    

  }

  .title-text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.02em;

    color: #000000;
}